In [1]:
import pandas as pd
import functions as fnc
import variables as var
import seaborn as sns
#import plot_features_num_regression as function

In [2]:
df = pd.read_csv("titanic.csv")
df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [3]:
df.corr()

ValueError: could not convert string to float: 'male'

In [ ]:
# get_features_num_regresion
# Esta funciÃ³n recibe como argumentos un dataframe, el nombre de una de las columnas del mismo (argumento 'target_col'), que 
# deberÃ­a ser el target de un hipotÃ©tico modelo de regresiÃ³n, es decir debe ser una variable numÃ©rica continua o discreta 
# pero con alta cardinalidad, ademÃ¡s de un argumento 'umbral_corr', de tipo float que debe estar entre 0 y 1 y una variable 
# float "pvalue" cuyo valor debe ser por defecto "None".
# La funciÃ³n debe devolver una lista con las columnas numÃ©ricas del dataframe cuya correlaciÃ³n con la columna designada por "target_col" 
# sea superior en valor absoluto al valor dado por "umbral_corr". AdemÃ¡s si la variable "pvalue" es distinta de None, sÃ³lo devolvera 
# las columnas numÃ©ricas cuya correlaciÃ³n supere el valor indicado y ademÃ¡s supere el test de hipÃ³tesis con significaciÃ³n mayor o igual a 1-pvalue.
# La funciÃ³n debe hacer todas las comprobaciones necesarias para no dar error como consecuecia de los valores de entrada. Es decir 
# harÃ¡ un check de los valores asignados a los argumentos de entrada y si estos no son adecuados debe retornar None y printar por pantalla 
# la razÃ³n de este comportamiento. Ojo entre las comprobaciones debe estar que "target_col" hace referencia a una variable numÃ©rica continua del dataframe.
#-----------------------------------------------------------------

# Esta funciÃ³n recibe un dataframe, una argumento "target_col" con valor por defecto "", una lista de strings ("columns") 
# cuyo valor por defecto es la lista vacÃ­a, un valor de correlaciÃ³n ("umbral_corr", con valor 0 por defecto) y 
# un argumento ("pvalue") con valor "None" por defecto.

# Si la lista no estÃ¡ vacÃ­a, la funciÃ³n pintarÃ¡ una pairplot del dataframe considerando la columna designada por "target_col" 
# y aquellas incluidas en "column" que cumplan que su correlaciÃ³n con "target_col" es superior en valor absoluto a "umbral_corr", 
# y que, en el caso de ser pvalue diferente de "None", ademÃ¡s cumplan el test de correlaciÃ³n para el nivel 1-pvalue de 
# significaciÃ³n estadÃ­stica. La funciÃ³n devolverÃ¡ los valores de "columns" que cumplan con las condiciones anteriores. 

# EXTRA: Se valorarÃ¡ adicionalmente el hecho de que si la lista de columnas a pintar es grande se pinten varios pairplot con un 
# mÃ¡ximo de cinco columnas en cada pairplot (siendo siempre una de ellas la indicada por "target_col")


# OK: Si la lista estÃ¡ vacÃ­a, entonces la funciÃ³n igualarÃ¡ "columns" a las variables numÃ©ricas del dataframe y se comportarÃ¡ como
#  se describe en el pÃ¡rrafo anterior.

# OK: De igual manera que en la funciÃ³n descrita anteriormente deberÃ¡ hacer un check de los valores de entrada y comportarse como
#  se describe en el Ãºltimo pÃ¡rrafo de la funciÃ³n `get_features_num_regresion`

def plot_features_num_regression(dataframe, target_col="", columns=[], umbral_corr=0, pvalue=None):
    """
        <DescripciÃ³n>

        Argumentos:
            > dataframe: Dataframe con los datos
            > target_col: Columna target a analizar
            > columns: Columnas con las que buscar la correlaciÃ³n con la columna 'target'. En caso de no especificar
                        nada, se revisrÃ¡n las variables numÃ©ricas que hay en el dataframe
            > umbral_corr: Umbral a partir del cual una columna se va a comparar con el target
            > pvalue:

        Retorna:
        <return>

    """
    # Comprobamos si los parÃ¡metros son correcttos
    numeric_types = [var.TIPO_NUM_CONTINUA, var.TIPO_NUM_DISCRETA]
    if not fnc.is_valid_params(dataframe, target_col, columns, numeric_types, numeric_types):
        return None
    
    final_columns = columns
    # Si no se pasa parÃ¡metro 'columns', extraemos todas las columnas numÃ©ricas
    if len(final_columns) == 0:
        df_types = fnc.tipifica_variables(df, var.UMBRAL_CATEGORIA, var.UMBRAL_CONTINUA)
        final_columns = df_types[df_types[var.COLUMN_TIPO].isin(numeric_types)][var.COLUMN_NOMBRE].to_list()
    
    # Borramos la columna target de la lista, en el caso de que exista
    if target_col in final_columns:
        final_columns.remove(target_col)

    if len(final_columns) == 0:
        print("No se han especificado columnas en el parÃ¡metro 'columns' y el set de datos no contiene ninguna columna numÃ©rica (diferente al target)")
        return None

    #print(df[[target_col] +  final_columns].corr(numeric_only=True)[target_col])

    df_corr_matrix = dataframe[final_columns + [target_col]].corr(numeric_only=True)    
    corr_columns = df_corr_matrix.loc[df_corr_matrix[target_col] >= umbral_corr][target_col].index.to_list()    

    # Borramos la columna target de la lista, en el caso de que exista
    if target_col in corr_columns:
        corr_columns.remove(target_col)

    if len(corr_columns) == 0:
        print("No se han encontrado columnas de correlaciÃ³n con los criterios especificados")
        return None
    else:
        sns.set_style = var.SNS_STYLE
        sns.pairplot(dataframe[[target_col] +  corr_columns])

    return corr_columns
    

columns = plot_features_num_regression(df, "", umbral_corr=1)
columns

La columna '' no existe en el dataframe